:root {
    --splash-header-bg: #3d6b99;
    --splash-navbar-bg: #1b3f5e;    
    --splash-dark-text: #1b3f5e;
}
.splash-section {
    background-color: #e1e8ef;
    background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/BZabc_tile.png);
}
.splash-header .links a.btn-login {
    background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/bzabc_login-shape.png);
}
.splash-header .links a.btn-signup {
    background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/BZabc-signup-shape.png);
}
.splash-header .links a.btn-gift {
    padding: 10px 20px 10px 15px;
    background-color: #F2A516;
    -webkit-box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.3);
    box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.3);    
    font-style: italic;
}
.splash-header .links a.btn-gift i {
    font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
}
.splash-header .links a {
    color: #FFF;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    background-position: left;
    background-repeat: no-repeat;    
    padding: 10px 15px 10px 45px;
}

.main-banner {
    background-color: #589ee4;    
    padding: 20px 0 30px 0;
}
.main-banner .main-image {
    position: relative;
    max-width: 1317px;
    margin: 0 auto;
    width: 100%;
}
.main-banner h1 {
    font-size: 60px;
}
.main-banner h2 {
    font-size: 24px;
}
.main-banner h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: -10px;
    text-transform: uppercase;
}
.main-banner img {
    max-width: 100%;    
}
.main-banner .bookstore, .main-banner .subscriptions {    
    position: absolute;
    top: 74.7%;
}
.main-banner .bookstore .btn, .main-banner .subscriptions .btn {
    width: 100%;
    font-size: 36px;
    border-radius: 15px;
}
.main-banner .bookstore {    
    left: 5%;
    width: 21%;
}
.main-banner .subscriptions {    
    left: 76.5%;
    width: 21%;
    font-size: 18px;
}
.main-banner {
    color: #fff;
    text-align: center;
}
.btn-store {
    background-color: #dfa343;
    border-color: #765a28 !important;
    color: #ffffff !important;
}
.btn-subscriptions {
    background-color: #9c1bff;
    border-color: #660193 !important;
    color: #ffffff !important;
}
.btn-subscriptions:hover, .btn-subscriptions:focus {
    background-color: #a951ec;    
}
.splash-container {   
    background-color: #fff;
    padding-top: 20px;
}
.about-us-header {
    background-color: #3c6b99;
    color: #ffffff;
    text-align: center;
    padding: 35px 50px;
    font-size: 18px;
}
h1.section-head {
    background-color: #1b3f5f;
    margin: 50px 0 30px;    
    padding: 0;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    font-size: 60px;
    padding: 10px;
}
section.welcome h5 {
    font-size: 24px;
    margin: 20px 0;
}
section.welcome button, section.welcome button:hover {
    color: #1b3f5f;
    cursor: pointer;
}
section.welcome .image img {
   width: 100%;
}
section.methods h1 {
    margin-top: 30px;
}
section.methods .method, section.tech-specs .tech-spec {
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 95%;
}
section.methods .method h2, section.tech-specs .tech-spec h2 {
    text-align: center;
    color: #1b3f5f;
    font-size: 48px;
    white-space: nowrap;
    padding: 20px 0;
}
section.methods .method h2 a, section.tech-specs .tech-spec h2 a {
    color: #1b3f5f;
}
section.methods .method h2 {
    font-size: 42px;
}
section.methods  .method img, section.tech-specs .tech-spec img {
    width: 100%;
}
section.tech-specs .tech-spec img {
    max-width: 178px;       
}
section.methods .method .method-description, section.tech-specs .tech-spec .tech-spec-description  {
    color: #1b3f5f;
    padding: 20px;
    text-align: center;
}
.splash .logo {    
    display: flex;
    justify-content: flex-start;
}
.logo .img-logo {
    width: 190px;
    height: auto;
}

.splash .section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 116px;
}

.splash .splash-header {
    background-color: var(--splash-header-bg);
    display: flex;
    flex: 1 1;
    min-height: 64px;
}

.splash .splash-header .links {
    flex: 1;
}

.splash-header a:hover {
    outline: 0;
    color: #ffffff;
    text-shadow: 0 0 1px white;
}

.splash-footer {
    background-color: #fff;
    padding: 20px;
}

.splash-footer .btn {
    background: transparent;
    color: var(--splash-dark-text);
    font-size: 1.2em;
    margin-left: 10px;
}
.splash-footer .links a {
    color: #ffffff;
}
.splash-header .container, .splash-footer .container {
    display: flex;
    align-items: center;
}

.section-header nav {
    overflow: hidden;
}

nav .nav-wide {
    display: none;
}

nav .nav-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: var(--splash-header-bg);
}

.nav-narrow i {
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 2.5em;
    margin-left: 15px;
}

.nav-narrow .narrow-links {
    display: none;
    margin: 15px;
    padding: 0px;
}

.nav-narrow .narrow-links a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

.nav-narrow .nav-narrow-collapse-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.splash-navigation {
    background-color: var(--splash-navbar-bg);
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 1em;
    min-height: 35px;
}

.splash-navigation .container {
    position: relative;
}

.splash-navigation .btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

.splash-navigation a:hover {
    outline: 0;
    color: #ffffff;
    text-shadow: 0 0 1px white;
}

.splash-navigation-tools {
    position: absolute;
    right: 15px;
    top: 6px;    
}
.splash-navigation-tools button {
    color: #fff;
}

.nav-narrow .splash-navigation-tools {
    right: 20px;
    top: 12px;
}

.header-break {
    margin-top: 0;
    margin-bottom: 30px;
}

.ReactStickyHeader_root {
    height: 116px;
}

.ReactStickyHeader_foreground,
.ReactStickyHeader_background-bg {
    display: none;
}

.splash-store {
    margin-top: 60px;
}

.splash-footer {
    margin-top: 60px;
    background-color: #262525;
}

.splash-footer .footer-container {
    display: flex;
    justify-content: space-between;
}
.splash-footer .footer-container .row {
    width: 100%;
}

.splash-footer a:hover {
    outline: 0;
    color: #ffffff;
    text-shadow: 0 0 1px white;
}

.splash-footer .links .btn {
    font-weight: normal;
}
.splash-footer .links .btn.btn-lg {
    font-size: 20px;
    text-transform: capitalize;
    padding: 0;
    font-weight: bold;
}
.splash-store {
    margin-top: 40px;
}
.splash-store header {
    margin-bottom: 20px;
}
.splash-store h2 {
    color: #1b3f5f;
    font-size: 60px;
}

.splash-store .productSection {
    background-color: #ffffff;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
}
/* Responsive Handling */

@media (min-width: 768px) and (max-width: 1239.98px) {
    .splash .container {
        max-width: 991px;
    }
}

@media (min-width: 768px) {
    nav .nav-wide {
        display: block;
    }
    nav .nav-narrow {
        display: none;
    }
    .splash-navigation .container > a {
        padding: 0;
        background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/bzabc_icons.png);
        background-repeat: no-repeat;     
        height: 36px;    
        display: inline-block;
        background-repeat: no-repeat;
        padding: 2px 5px 2px 45px;
        font-size: 20px;
        margin: 0 50px;
        color: #589ee4;
    }
    .splash-navigation .container > a:hover {
        color: #ffffff;
    }
    .splash-navigation .container > a:hover.students-parents {
        background-position: 0 -36px;
    }
    .splash-navigation .container > a:hover.schools-teachers {
        background-position: 0 -108px;
    }
    .splash-navigation .container > a.students-parents {
        background-position: 0 0;
    }
    .splash-navigation .container > a.schools-teachers {
        background-position: 0 -72px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1350px;
    }
}

@media (max-width: 1440px) {
    .main-banner .bookstore .btn, .main-banner .subscriptions .btn {    
        font-size: 32px;
        border-radius: 12px;
    }
    h1.section-head {
        font-size: 48px;
        padding: 10px;
    }
    .splash-store h2 {        
        font-size: 48px;
    }      
    section.methods .method h2, section.tech-specs .tech-spec h2 {
        font-size: 40px;
    }
    section.methods .method h2 {
        font-size: 36px;
    }
}

@media (max-width: 1279px) {
    .main-banner h1 {
        font-size: 40px;
    }
    .main-banner h2 {
        font-size: 18px;
    }
    .about-us-header {
        font-size: 14px;
    }
    .main-banner .bookstore .btn, .main-banner .subscriptions .btn {    
        font-size: 28px;
        border-radius: 12px;
    }
    .main-banner .subscriptions {
        font-size: 16px;
    }
    .splash-store h2 {        
        font-size: 36px;
    }    
    h1.section-head {
        font-size: 36px;
        padding: 10px;
    }
    section.methods .method h2, section.tech-specs .tech-spec h2 {
        font-size: 36px;
    }
    section.methods .method h2 {
        font-size: 28px;
    }     
}

@media (max-width: 1024px) {
    .main-banner .bookstore .btn, .main-banner .subscriptions .btn  {
        font-size: 18px;
    }
    .main-banner .subscriptions div {
        white-space: nowrap;
        font-size: 14px;
    }
    .about-us-header {
        padding: 10px;
    }    
    section.methods .method h2, section.tech-specs .tech-spec h2 {
        font-size: 30px;
    }
    section.methods .method h2 {
        font-size: 24px;
    }
    .splash-navigation .container > a {
        font-size: 16px;
        padding-top: 5px;
    }
}

@media (max-width: 768px) {
    .splash-header .links, .about-us-header {
        display: none;
    }
    .splash-header .logo {
        justify-content: center;
    }
    section.methods .method, section.tech-specs .tech-spec {
        margin: 0;
    }
    h1.section-head {
        font-size: 28px;
        padding: 5px;
    }
    .splash-navigation .btn {
        font-size: 16px;
    }
    .nav-narrow .splash-navigation-tools {    
        top: 16px;
    }
}
@media (max-width: 420px) {
    .splash-navigation .btn {
        font-size: 14px;
    }
}