.subscriptions-block {
    margin: 0 auto;    
    max-width: 1100px;
    margin-bottom: 25px;
}
.switch-subscriptions-block {
    margin: 0 auto;
    max-width: 700px;
}
.switch-subscriptions-block .subscription-item-block {
    cursor: pointer;
}
.switch-subscriptions-block .subscription-header h1 {
    font-size: 1.5rem;
    padding: 8px 0;
}
.switch-subscriptions-block .subscription-prices .selected .price {
    font-size: 2.2rem;    
}
.subscription-item {    
    margin: 0 auto;
    background-color: #fff;
}
.subscription-header h1 {
    color: #fff;
    text-align: center;
    background-color: #01B0F1;
    margin: 0;
    padding: 10px 0;
    font-size: 1.8rem;
}
.subscription-prices {
    background-color: #F2F2F2;
    padding: 15px 25px;    
    color: #727272;
}
.subscription-description {
    padding: 25px 35px;
}
.subscription-limits {
    color: #868585;
    font-size: 1.5rem;    
}
.subscription-bonuses  {
    padding: 10px 0 20px;
}
.subscription-bonuses span {   
    display: block;        
}
.subscription-bonuses span:first-child {
    font-size: 1.3rem;
    color: #01B0F1;
    font-weight: 500;
}
.subscription-bonuses span.bonus {
    font-size: 1.1rem;
    color: red;    
}
.subscription-item .btn.btn-info {
    background-color: #01B0F1;
    border-color: #01B0F1;
    font-size: 1.6rem;
}
.subscription-prices .price {
    color: #181003;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.subscription-prices .selected {
    font-size: 1.3rem;
}
.subscription-prices .selected .price {
    font-size: 2.5rem;
    font-weight: 500;
}
.subscription-prices {
    font-size: 1rem;
}
.subscriptions-block .subscription-prices .price {
    line-height: 0.8;
}
.subscription-prices .small {
    font-size: 70%;
}
.subscription-item-block .subscription-item.item-1 .subscription-header h1 {
    background-color: #4F81BE;
}
.subscription-item-block .subscription-item.item-2 .subscription-header h1 {
    background-color: #1F487C;
}
.subscription-item-block .subscription-item.item-1 .btn.btn-info {
    background-color: #4F81BE;
    border-color: #4F81BE;
}
.subscription-item-block .subscription-item.item-2 .btn.btn-info {
    background-color: #1F487C;
    border-color: #1F487C;
}
.subscription-item-block .item-1 .subscription-bonuses span:first-child {
    color: #4F81BE;
}
.subscription-item-block .item-2 .subscription-bonuses span:first-child {
    color: #1F487C;
}
.m-form .m-form__section {
    margin: 20px 0;
}

.subscription-item {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) ;
}

@media (max-width: 767px) {
    .subscription-prices {        
        padding: 15px 15px;            
    }
    .subscription-prices .selected .price {
        font-size: 2rem;
    }
}

@media (max-width: 360px) {
    .subscribe .subscription-content .subscription-prices .price .small, .gifts .subscription-content .subscription-prices .price .small  {
        display: block;
        margin-top: -5px;
    }
}
