nav.navigation {
    background: #f5f5f5;
    color: #555;
    position: relative;
    z-index:5556;
    padding-top: 50px;
    min-height: 100px;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#m_aside_left {
    width: 225px;
    box-shadow: 0 2px 10px #8080804a;
}

nav.navigation > .menuItem > a, nav.navigation .second_level a{
    display: table;
    width: 100%;
    height: 50px;
    color: #555;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    transition: all .5s;
}

nav.navigation .second_level a.active {
    background-color: #0000000d;
}

nav.navigation > .menuItem > a > .icon {
    display: table-cell;
    vertical-align: middle;
    width: 51px;
}

nav.navigation > .menuItem > a > .icon > i {
    margin: 0 10px;
    line-height: 100%;
    font-size: 27px;
    position: relative;
    top: 2px;
}

nav.navigation > .menuItem > a > .content {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    background: #f5f5f5;
}

nav.navigation > .menuItem > a.active {
    top: 0;
    position: absolute;
}

 nav.navigation > .menuItem > a.home .icon {
    background: #385774;
    color: white;
}

nav.navigation > .menuItem > a.home.active,  nav.navigation > .menuItem > a.home:hover .content {
    background: #385774;
    color: white;
}


.menuItem > a.home + .second_level.activeSubMenu .content > a.active {
    color: #385774;
    font-weight: 500;
}

nav.navigation > .menuItem > a.home.active > .content {
    background: #385774;
}

nav.navigation > .menuItem > a.green .icon{
    background: #7bc848;
    color: white;
}

nav.navigation > .menuItem > a.green:hover > .content, nav.navigation > .menuItem > a.green.active > .content, nav.navigation > .menuItem > a.green.hover > .content {
    background: #7bc848;
    color: white;
}


.menuItem > a.green + .second_level.activeSubMenu .content > a.active {
    color: #7bc848;
    font-weight: 500;
}

nav.navigation > .menuItem > a.red .icon{
    background: #ce342c;
    color: white;
}

nav.navigation > .menuItem > a.red:hover > .content, nav.navigation > .menuItem >  a.red.active > .content, nav.navigation > .menuItem > a.red.hover > .content {
    background: #ce342c;
    color: white;
}

.menuItem > a.red + .second_level.activeSubMenu .content > a.active {
    color: #ce342c;
    font-weight: 500;
}

nav.navigation > .menuItem > a.orange .icon{
    background: #f8912a;
    color: white;
}

nav.navigation > .menuItem > a.orange:hover > .content, nav.navigation > .menuItem > a.orange.active > .content , nav.navigation > .menuItem > a.orange.hover > .content {
    background: #f8912a;
    color: white;
}

.menuItem > a.orange + .second_level.activeSubMenu .content > a.active {
    color: #f8912a;
    font-weight: 500;
}

nav.navigation > .menuItem > a.blue .icon{
    background: #385774;
    text-align: center;
    color: white;
}

nav.navigation > .menuItem > a.blue:hover > .content, nav.navigation > .menuItem > a.blue.active > .content, nav.navigation > .menuItem > a.blue.hover > .content{
    background: #385774;
    color: white;
}

.menuItem > a.blue + .second_level.activeSubMenu .content > a.active {
    color: #385774;
    font-weight: 500;
}

nav.navigation > .menuItem > a.purple .icon{
    background: #4fa1ea;
    color: white;
}

nav.navigation > .menuItem > a.purple:hover > .content, nav.navigation > .menuItem > a.purple.active > .content, nav.navigation > .menuItem > a.purple.hover > .content  {
    background: #4fa1ea;
    color: white;
}

.menuItem > a.purple + .second_level.activeSubMenu .content > a.active {
    color: #4fa1ea;
    font-weight: 500;
}

nav.navigation > .menuItem > a.grey .icon{
    background: #558436;
    color: white;
    text-align: center;
}

nav.navigation > .menuItem > a.grey:hover > .content, nav.navigation > .menuItem > a.grey.active > .content, nav.navigation > .menuItem > a.grey.hover > .content {
    background: #558436;
    color: white;
}

.menuItem > a.grey + .second_level.activeSubMenu .content > a.active {
    color: #558436;
    font-weight: 500;
}

nav.navigation .second_level {
    display: none;
}

nav.navigation .second_level a {
    height: auto;
    line-height: 20px;
    padding: 8px 0 8px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

nav.navigation .second_level a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav.navigation .second_level > .back {
    height: 100%;
    display: table-cell;
    padding: 0 8px;
    background: #FFF;
    vertical-align: middle;
    font-size: 13px;
    width: 5px;
}

nav.navigation .second_level > .content {    
    text-align: left;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background: #f5f5f5;
}

nav.navigation > .menuItem > a.swapped {
    transform:translateX(-100%);
    position: absolute;
}

nav.navigation > .menuItem > a + .second_level.activeSubMenu {
    transition: all .4s;
    display:table;
    width: 100%;
}

nav.navigation.hovered .menuItem >  a + .second_level.activeSubMenu  {
    display: none;
}

nav.navigation.hovered  > .menuItem > a.swapped  {
    transform:translateX(0);
    z-index: 5;
    position:relative;
}

.m-menu__item .m-menu__link.active {
    background: #f2f3f8;
}

@keyframes slidein {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 1400px) {
    .m-wrapper {
        margin-left: 190px;
    }
    
    #m_aside_left {
        width: 190px;
    }
    
    nav.navigation {
        padding-top: 45px;
    }
    
    nav.navigation > .menuItem > a, nav.navigation .second_level a {
        font-size: 16px;
        height: 45px;
    }
    
    nav.navigation > .menuItem > a, nav.navigation .second_level a{
        height: 45px;
    }
    nav.navigation > .menuItem > a > .icon > i {
        font-size: 24px;
        margin: 0 8px;
    }
    nav.navigation > .menuItem > a > .icon {
        width: 45px;
    }     
}