:root {
  --splash-header-bg: #3d6b99;
  --splash-navbar-bg: #1b3f5e;
  --splash-dark-text: #1b3f5e;
}
.splash-section {
  background-color: #e1e8ef;
  background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/BZabc_tile.png);
}
.splash-section > .container {
  background-color: #e1e8ef;
  padding-bottom: 60px;
}
.splash-header .links a.btn-login {
  background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/bzabc_login-shape.png);
}
.splash-header .links a.btn-signup {
  background-image: url(//d2cnhr6egzpvdl.cloudfront.net/image/bzabc/BZabc-signup-shape.png);
}
.splash-header .links a.btn-gift {
  padding: 10px 20px 10px 15px;
  background-color: #f2a516;
  -webkit-box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.3);
  font-style: italic;
}
.splash-header .links a.btn-gift i {
  font-size: 30px;
  margin-right: 10px;
  margin-top: -5px;
  vertical-align: middle;
}
.splash-header .links a {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  background-position: left;
  background-repeat: no-repeat;
  padding: 10px 15px 10px 45px;
}
.sticky-header {
  height: 116px;
}
.sticky-header > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
}
.main-banner {
  background-color: #fff;
  padding: 0;
}
.main-banner .main-image {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  min-height: 1000px;
}

.main-image-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  color: #6699cc;
  text-align: center;
}
.main-banner h1 {
  font-size: 60px;
}
.main-banner h2 {
  font-size: 24px;
}
.main-banner h3 {
  font-size: 20px;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-family: "Luckiest Guy";
}
.main-banner img {
  max-width: 100%;
}

.splash-points {
  float: right;
  margin-top: 8rem;
}
.splash-points ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.splash-points ul li {
  margin-bottom: 10px;
  background-color: var(--splash-navbar-bg);
  font-size: 42px;
  line-height: 50px;
  color: #fff;
  text-align: left;
  padding: 1rem;
}
.main-banner-buttons {
  float: right;
  clear: both;
  width: 330px;
}
.main-banner .bookstore,
.main-banner .subscriptions {
}
.main-banner .bookstore .btn,
.main-banner .subscriptions .btn {
  width: 100%;
  font-size: 36px;
  border-radius: 10px;
  padding: 15px 0;
}
.main-banner .bookstore {
  position: relative;
  margin-top: 8rem;
  width: 100%;
  z-index: 5;
}

.book-store-title-image {
  position: absolute;
  left: -9rem;
  top: -5.5rem;
  z-index: -1;
}

.starting-from-text {
  font-size: 2rem;
}

.main-banner .subscriptions {
  margin-top: 3rem;
  width: 100%;
}
.main-banner {
  color: #fff;
  text-align: center;
}
.main-banner .button-box {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}
.btn-store {
  background-color: #dfa343;
  border-color: #765a28 !important;
  color: #ffffff !important;
}
.btn-subscriptions {
  background-color: #9c1bff;
  border-color: #660193 !important;
  color: #ffffff !important;
}
.btn-subscriptions:hover,
.btn-subscriptions:focus {
  background-color: #a951ec;
}
.splash-container {
  background-color: #fff;
  padding-top: 20px;
}
.app-download {
  background-color: #3c6b99;
  color: #ffffff;
  text-align: center;
  padding: 25px 0 20px 0;
  font-size: 18px;
}
.app-download .container {
  max-width: 1230px;
  padding-left: 40px;
}
.app-download h3 {
  font-family: "Luckiest Guy";
  font-size: 32px;
  margin-bottom: 15px;
}
.app-download .description {
  font-size: 20px;
  font-weight: 500;
}
.app-download .description a {
  color: #599ee3 !important;
}
.applications > div {
  display: inline-block;
  padding-left: 40px;
  text-align: center;
}
.applications > div p {
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  margin-top: 2px;
}
.applications > div a {
  color: #ffffff;
}

.p-text {
  color: #1c4062;
  font-size: 20px;
  margin: 20px 50px 30px;
}

.p-text ul {
  list-style: none;
}

.about-us-note {
  text-align: center;
  color: #1c4062;
  font-size: 20px;
  margin: 0 50px 30px;
}
h1.section-head {
  background-color: #1b3f5f;
  margin: 50px 0 30px;
  padding: 0;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  font-size: 60px;
  padding: 10px;
}
section.welcome h5 {
  font-size: 24px;
  margin: 20px 0;
}
section.welcome .btn-link,
section.welcome .btn-link:hover,
section.welcome .btn-link:focus {
  color: #1b3f5f;
  cursor: pointer;
}
section.welcome .btn-link:hover,
section.welcome .btn-link:focus {
  text-decoration: underline;
}
section.welcome .image {
  position: relative;
}
section.welcome .image > img {
  width: 100%;
  border: 1px solid #3c6b99;
  border-radius: 19px;
}
section.welcome .image a {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 32px);
  width: 64px;
}
section.methods h1 {
  margin-top: 30px;
}
section.methods .method .image {
  position: relative;
}
section.methods .method .image a {
  position: absolute;
  top: calc(100% - 30px);
  left: calc(50% - 23px);
  width: 46px;
}
section.methods .method,
section.tech-specs .tech-spec {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 95%;
}
section.methods .method h2,
section.tech-specs .tech-spec h2 {
  text-align: center;
  color: #1b3f5f;
  font-size: 48px;
  white-space: nowrap;
  padding: 20px 0;
}
.row.methods-row,
.row.tech-specs-row {
  margin-left: -17px;
  margin-right: -17px;
}
section.methods .method h2 a,
section.tech-specs .tech-spec h2 a {
  color: #1b3f5f;
}
section.methods .method h2 {
  font-size: 42px;
}
section.methods .method img,
section.tech-specs .tech-spec img {
  width: 100%;
}
section.tech-specs .tech-spec img {
  max-width: 178px;
}
section.methods .method .method-description,
section.tech-specs .tech-spec .tech-spec-description {
  color: #1b3f5f;
  padding: 20px;
  text-align: center;
}
section.methods .method .method-description {
  padding: 35px 40px 30px 40px;
  font-size: 18px;
}
.tech-spec .tech-spec-description {
  font-size: 16px;
}
.splash .logo {
  display: flex;
  justify-content: flex-start;
}
.logo .img-logo {
  width: 190px;
  height: auto;
}
.splash .section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 116px;
}
.splash .splash-header {
  background-color: var(--splash-header-bg);
  display: flex;
  flex: 1 1;
  min-height: 64px;
}
.splash .splash-header .links {
  flex: 1;
}
.splash-header a:hover {
  outline: 0;
  color: #ffffff;
  text-shadow: 0 0 1px white;
}
.splash-footer {
  background-color: #fff;
  padding: 20px;
}
.splash-footer .btn {
  background: transparent;
  color: var(--splash-dark-text);
  font-size: 1.2em;
  margin-left: 10px;
}
.splash-footer .links a {
  color: #ffffff;
}
.splash-header .container,
.splash-footer .container {
  display: flex;
  align-items: center;
}
.section-header nav {
  overflow: hidden;
}
nav .nav-wide {
  display: none;
}
nav .nav-narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--splash-header-bg);
}
.nav-narrow i {
  float: left;
  cursor: pointer;
  color: #fff;
  font-size: 2.5em;
  margin-left: 15px;
}
.nav-narrow .narrow-links {
  display: none;
  margin: 15px;
  padding: 0px;
}
.nav-narrow .narrow-links a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}
.nav-narrow .nav-narrow-collapse-container {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}
.splash-navigation {
  background-color: var(--splash-navbar-bg);
  color: #fff;
  position: relative;  
  font-size: 1em;
  min-height: 35px;
}
.splash-navigation .container {
  position: relative;
  padding-right: 4rem;
}
.splash-navigation .btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
}
.splash-navigation a:hover {
  outline: 0;
  color: #ffffff;
  text-shadow: 0 0 1px white;
}
.splash-navigation-tools {
  position: absolute;
  right: 15px;
  top: 6px;
}
.splash-navigation-tools button {
  color: #fff;
}
.nav-narrow .splash-navigation-tools {
  right: 20px;
  top: 12px;
}
.header-break {
  margin-top: 0;
  margin-bottom: 30px;
}
.ReactStickyHeader_root {
  height: 116px;
}
.ReactStickyHeader_foreground,
.ReactStickyHeader_background-bg {
  display: none;
}
.splash-store {
  margin-top: 60px;
}
.splash-footer {
  background-color: #262525;
}
.splash-container .splash-footer {
  margin-top: 60px;
}
.splash-footer .footer-container {
  display: flex;
  justify-content: space-between;
}
.splash-footer .footer-container .row {
  width: 100%;
}
.splash-footer a:hover {
  outline: 0;
  color: #ffffff;
  text-shadow: 0 0 1px white;
}
.splash-footer .links .btn {
  font-weight: normal;
}
.splash-footer .links .btn.btn-lg {
  font-size: 20px;
  text-transform: capitalize;
  padding: 0;
  font-weight: bold;
}
.splash-store {
  margin-top: 40px;
}
.splash-store header {
  margin-bottom: 20px;
}
.splash-store h2 {
  color: #1b3f5f;
  font-size: 60px;
}
.splash-store .productSection {
  background-color: #ffffff;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}
.slick-initialized .slick-slide {
  visibility: hidden;
}
.slick-initialized .slick-slide.slick-active {
  visibility: visible;
}
.slick-initialized .slick-slide .cardItem {
  margin: 0 auto;
}
.verticalCardItem.cardItem {
  min-width: 110px;
  max-width: 170px;
}
.slick-track {
  display: flex;
  align-items: center;
}
.slick-center {
  margin: 0 15px;
}
.slick-center .cardItem {
  min-width: 165px;
  max-width: 260px;
}
.slick-slide-previous .cardItem {
  min-width: 140px;
  max-width: 220px;
}
.splash-footer .img-logo {
  width: 85px;
}
.gifts.splash-container .container.full-width {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -60px;
}
/* Responsive Handling */

.splash-tabs > header {
  background: #e1e8ef;
  box-shadow: none;
  margin-bottom: 0.5rem;
}
.splash-tabs > header div > span {
    background-color: #4a8dd3;
}
.splash-tabs button {
  height: 7rem;
  max-width: 450px;
}
.splash-tabs button[aria-selected="true"], .splash-tabs button[aria-selected="true"] span {        
    color: #4a8dd3;    
}
.splash-tabs button span {
  font-size: 1.5rem;
  padding: 0;
}
.splash-tabs button > span {
    padding: 10px 24px 0;
}

@media (min-width: 768px) and (max-width: 1239.98px) {
  .splash .container {
    max-width: 991px;
  }
}
@media (min-width: 769px) {
  .splash-header .splash-navigation-tools {
    display: none;
  }
}
@media (min-width: 768px) {
  nav .nav-wide {
    display: block;
  }
  nav .nav-narrow {
    display: none;
  }
  .splash-navigation .container > a {
    padding: 0;

    height: 36px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    margin: 0 5px;
    color: #fff;
  }
  .splash-navigation .container > a:hover,
  .splash-navigation .container > a.active {
    color: #ffffff;
  }
  .splash-navigation .container > a:hover.students-parents,
  .splash-navigation .container > a.students-parents.active {
    background-position: 0 -36px;
  }
  .splash-navigation .container > a:hover.schools-teachers,
  .splash-navigation .container > a.schools-teachers.active {
    background-position: 0 -108px;
  }
  .splash-navigation .container > a.students-parents {
    background-position: 0 0;
  }
  .splash-navigation .container > a.schools-teachers {
    background-position: 0 -72px;
  }
  .footer-links {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1430px;
  }
}

@media (max-width: 1440px) {
  .main-banner .bookstore .btn,
  .main-banner .subscriptions .btn {
    font-size: 32px;
    border-radius: 12px;
  }
  h1.section-head {
    font-size: 48px;
    padding: 10px;
  }
  .splash-store h2 {
    font-size: 48px;
  }
  section.methods .method h2,
  section.tech-specs .tech-spec h2 {
    font-size: 40px;
  }
  section.methods .method h2 {
    font-size: 36px;
  }
}

@media (max-width: 1279px) {
  .main-banner h1 {
    font-size: 40px;
  }
  .main-banner h2 {
    font-size: 18px;
  }
  .app-download {
    font-size: 14px;
  }
  .main-banner .bookstore .btn,
  .main-banner .subscriptions .btn {
    font-size: 28px;
    border-radius: 9px;
    padding: 12px 0;
  }
  .main-banner .subscriptions {
    font-size: 16px;
  }
  .splash-store h2 {
    font-size: 36px;
  }
  h1.section-head {
    font-size: 36px;
    padding: 10px;
  }
  section.methods .method h2,
  section.tech-specs .tech-spec h2 {
    font-size: 36px;
  }
  section.methods .method h2 {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .splash-tabs button {
    max-width: 250px;
    height: 5rem;
  }

  .splash-tabs button span {
    font-size: 1rem;
  }
  .main-banner .main-image {
    min-height: 800px;
  }
  .splash-points {
    float: none;
    margin-top: 1rem;
  }
  .splash-points ul li {
    margin-bottom: 10px;    
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    padding: 1rem;
  }
  .main-banner .bookstore .btn,
  .main-banner .subscriptions .btn {
    font-size: 20px;
    padding: 10px 0;
  }
  .main-banner .subscriptions div {
    white-space: nowrap;
    font-size: 14px;
  }

  section.methods .method h2,
  section.tech-specs .tech-spec h2 {
    font-size: 30px;
  }
  section.methods .method h2 {
    font-size: 24px;
  }
  .splash-navigation .container > a {
    font-size: 16px;
    padding-top: 5px;
  }
  .applications {
    padding-top: 15px;
  }
  .app-download {
    padding: 15px;
  }
  .app-download h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .app-download .description {
    font-size: 18px;
  }
  .gifts .subscriptions-list {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .splash-tabs button {
    max-width: 250px;
    height: 4rem;
  }

  .splash-tabs button span  {
    font-size: 0.75rem;
  }
  .splash .container {
    max-width: 100%;
    width: 100%;
  }
  .main-image-text {
    position: relative;

    padding-bottom: 1.5rem;
    color: #6699cc;
    text-align: center;
  }
  .splash-header .links {
    display: none;
  }
  .splash-header .logo {
    justify-content: center;
  }
  section.methods .method,
  section.tech-specs .tech-spec {
    margin: 0;
  }
  h1.section-head {
    font-size: 28px;
    padding: 5px;
  }
  .splash-navigation .btn {
    font-size: 16px;
  }
  .splash-navigation-tools {
    top: 15px;
  }
  .main-banner {
    padding: 15px 0 15px 0;
  }
  .main-banner h1 {
    margin: 10px -16px 0;
    font-size: 34px;
  }
  .main-banner h2 {
    margin: 0 -16px 3px;
    font-size: 20px;
  }
  .main-banner h3 {
    font-size: 24px;
    margin: 0 -16px 20px;
  }
  .main-banner .btn-store,
  .main-banner .btn-subscriptions,
  .footer-links .btn-store,
  .footer-links .btn-subscriptions {
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
    max-width: 190px;
    padding: 14px 0;
  }
  .footer-links .btn-store,
  .footer-links .btn-subscriptions {
    padding: 10px 0;
  }
  .main-banner .col-6 img {
    height: 90%;
    max-height: 120px;
    margin: 0 auto;
  }
  .about-us-note {
    margin: 0 0 30px;
    font-size: 14px;
  }
  .app-download h3 {
    font-size: 32px;
  }
  .app-download .container {
    padding: 0 20px;
  }
  .app-download .description {
    font-size: 16px;
  }
  .applications {
    text-align: center;
  }
  .applications > div {
    padding: 0 8%;
  }
  section.methods .method .method-description {
    padding: 30px 20px;
    font-size: 16px;
  }
  .row.methods-row,
  .row.tech-specs-row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .logo .img-logo {
    width: 140px;
  }
  nav .nav-narrow {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .splash .section-header,
  .ReactStickyHeader_root {
    min-height: 100px;
  }
  .ReactStickyHeader_root {
    height: 100px;
  }
  .ReactStickyHeader_fixed {
    position: relative;
  }
  .section-header .nav-narrow i {
    margin-left: 5px;
  }
  .footer-links {
    background-color: #589ee4;
    padding: 15px;
  }
  .splash-footer .img-logo {
    max-width: 100%;
  }
  #footer {
    position: fixed;
    width: 100%;
    left: 0;
  }
  .splash-footer {
    padding: 10px 0;
  }
  .splash-container .splash-footer {
    margin-top: 0;
  }
  .splash-section > .container,
  .splash-container > .container {
    padding-bottom: 150px;
  }
  .splash-footer .btn {
    margin: 0;
    padding: 5px 0;
  }
  .sticky-header {
    height: 100px;
  }
  .gifts .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 430px) {
  .splash-navigation .btn {
    font-size: 14px;
  }
  .main-banner h1 {
    font-size: 32px;
  }
  .main-banner h2 {
    font-size: 18px;
  }
  .app-download h3 {
    font-size: 22px;
  }
  .app-download .container {
    padding: 0;
  }
  .app-download .description {
    font-size: 14px;
  }
  .splash-footer .btn {
    font-size: 14px;
  }
  .footer-links .btn-store,
  .footer-links .btn-subscriptions {
    padding: 10px 0;
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .main-banner h1 {
    font-size: 28px;
  }
  .main-banner h2 {
    font-size: 16px;
  }
  .main-banner h3 {
    font-size: 18px;
  }
  .main-banner .btn-store,
  .main-banner .btn-subscriptions,
  .footer-links .btn-store,
  .footer-links .btn-subscriptions {
    padding: 8px 0;
    font-size: 16px;
  }
}
