.ratings {
    position: relative;
    vertical-align: inherit;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #737373;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\ \2605\ \2605\ \2605\ \2605";
    font-size: 9pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #b1b1b1;
}
.store-featured .empty-stars:before {
    letter-spacing: -1px;
}
.full-stars:before {
    -webkit-text-stroke: 1px #737373;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
@-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}

@media (max-width: 1060px) {
    .empty-stars:before, .full-stars:before {
        font-size: 6pt;
    }
}