@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#store_ #m_header_nav {
    box-shadow: none;
}

.store div.store-wrapper .m-portlet__head {
    /*background: rgba(51, 51, 51, 0.05);*/
    height:50px;
}


#store_ .m-portlet__head-caption {
    /*padding: 0;*/
}


#store_ .m-subheader {
    /*display: none;*/
}

.store .m-body div.m-content {
    padding: 0;
}

.store div.m-portlet .m-portlet__head {
    background: #f9f9f9;
}

.store .store-filter-divider {
    width: 1px;
    height: 27px;
    margin: 0 13px;
    background: #bbb;
}

/*.store .filterMenu,.store .filterMenu > button {*/
    /*height: 50px;*/
/*}*/


.store .store-filter button:hover {
    box-shadow: inset 0 -3px red;
}

.store .store-filter .store-search button {
    box-shadow: none;
}

.store .store-filter button, .store .filterMenu > button {
    height: 50px;
    font-weight: 300;
    border-radius: 0;
}

.store-filter.right-block {
    justify-content: flex-end;
}

.store-filter.right-block .row {
    flex: 1;
}

.store .store-filter button .fa {
    color: #adadad;
}

.store .filter-buttons {
    display: flex;
}

.store .m-portlet.store-wrapper {
    background: transparent;
    box-shadow: none;
}

.store #store-body {
    padding: 25px;
    width: 100%;
}

.store #store-body .productSection {
    margin-bottom: 45px;
}

 .cardItem {
    flex: 1 0 11%;
    padding: 5px;
    overflow: hidden;
}

 .verticalCardItem.cardItem {
     min-width: 110px;
     max-width: 178px;
     flex-basis: auto;
     flex-grow: 1;
 }

 .all-products .cardItem {
     flex: 0 0 11%;
 }

 .cardContent {
    padding: 7px;
}

.sectionTopBar h2 {
    font-weight: 200;
}

.sectionTopBar h2:first-letter {
    text-transform: uppercase;
}

.cardItem .cardTitle {
    position: relative;
    white-space: pre;
    overflow: hidden;
    font-size: 1.3rem;
}

.cardItem .productPrice {
    float: right;
    color: #D2322D;
    font-weight: 500;
    margin-top: -15px;
    text-align: right;
}

.cardItem .productPrice .discount {
   color: #771f1e;
    text-decoration: line-through;
    font-size: 0.9rem;
}

.m-widget25__desc .discount {
    color: #771f1e;
    text-decoration: line-through;
}

.m-widget25__desc .discount  > span {
    color: #5c7b8b;
}

.cardItem .productPrice .discount > span  {
    color: #525672;
}

.cardItem .cardDesc {
    overflow: hidden;
    white-space: pre;
    position: relative;
}

.cardItem .cardTitle::after, .cardDesc::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(90deg,transparent,white);
}

 .horizontalCardItem .cardImage {
     width: 40%;
     display: inline-block;
     vertical-align: top;
 }

 .horizontalCardItem .cardContent {
     width: 60%;
     display: inline-flex;
     flex-direction: column;
     line-height: 1;
     padding-bottom: 0 !important;
     padding: 10px !important;
 }

 .verticalCardItem .cardContent {
     padding-bottom: 5px !important;
 }

 .horizontalCardItem .cardDesc {
     white-space: normal;
 }

 .sidebarTitle {
     font-weight: 400;
 }

 .store-body.all-products {
     padding: 20px;
 }

 .store-filter .filter-buttons a {
     padding: 0 4px;
     height: 50px;
     display: inline-block;
 }

.store-filter .filter-buttons a.active {
     /*border-bottom: 3px solid #D2322D;*/
 }

.store-filter .filter-buttons a.activeFilter {
    border-bottom: 3px solid #D2322D;
}

.store-wrapper div[class^='col-'] {
    margin-bottom: 0 !important;
}

 /*@media (max-width: 1367px) {*/
     /*.productSection .cardItem:nth-child(9) {*/
         /*display: none;*/
     /*}*/
 /*}*/


/*@media (max-width: 1000px) {*/
    /*.productSection .cardItem:nth-child(8) {*/
        /*display: none;*/
    /*}*/
/*}*/

/*@media (max-width: 900px) {*/
    /*.productSection .cardItem:nth-child(7) {*/
        /*display: none;*/
    /*}*/
/*}*/

/*@media (max-width: 700px) {*/
    /*.productSection .cardItem:nth-child(6) {*/
        /*display: none;*/
    /*}*/
/*}*/

@media (max-width: 600px) {
    .verticalCardItem.cardItem {
        max-width: 170px;
    }

    .store-filter .filter-buttons a {
        display: none;
    }
}

@media (max-width: 562px) {
    .verticalCardItem.cardItem {
        max-width: 150px;
    }
}

@media (max-width: 400px) {
    .productSection .cardItem:nth-child(3) {
        display: none;
    }
}




    /* =====================================
                PRODUCT DETAILS
    ========================================*/

#product-details .productTitle {
    font-weight: 400;
}

#product-details .m-widget25 {
    line-height: 1;
}

#product-details .m-widget25 .m-widget25__price {
    line-height: 0;
    font-size: 50px;
}


/* =====================================
            SHOPPING CART
========================================*/

.shoppingCartTable .productInfo {
    display: table;
}

.shoppingCartTable .productInfo > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.shoppingCartTable table th {
    padding: 15px;
}

.shoppingCartTable .productInfo .productImg {
    width: 100px;
}

.shoppingCartTable .productPrice {
    font-size: 2.2rem;
    font-weight: bold;
}

.shoppingCartTable .productQuantity {
    font-size: 25px;
    padding: 7px;
    text-align: center;
    font-weight: bold;
}

/* CHECKOUT */

.cartItems .m-widget4__item {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.payments-widgets.m-widget24 {
    margin-bottom: 0;
}

.payments-widgets .m-widget24__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.payments-widgets .m-widget24__item:hover {
    background: #f4f5f8;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__price {
    font-size: 1.7rem;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item:nth-child(1) .m-pricing-table-1__price {
    font-size: 1.7rem;
    margin-top: 20rem;
}

@media (max-width: 567px) {
    .store-filter.right-block {
        justify-content: flex-start;
    }

    .store-filter.right-block .col-xs-6 {
        flex: 1;
    }
}

.floating-basket {
    color: #e02426;
    opacity: 0;
    animation-name: floatingToRightTop;
    animation-duration: 1s;
    display: flex !important;
    width: 0;
    will-change: auto;
    font-size: 2rem;
}

@keyframes floatingToRightTop {
    from {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(400px) translateY(-400px) scale(3);
        opacity: 0;
    }
}
