@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#store_ #m_header_nav {
    box-shadow: none;
}

.store div.store-wrapper .m-portlet__head {    
    height: 50px;
    border-bottom: #7bc848 solid 1px
}

.store .store-filter-divider {
    width: 1px;
    height: 27px;
    margin: 0 13px;
    background: #bbb;
}

.store .store-filter button:hover {
    box-shadow: inset 0 -3px red;
}

.store .store-filter .store-search button {
    box-shadow: none;
}

.store .store-filter button, .store .filterMenu > button {
    height: 50px;    
    border-radius: 0;
}

.store .store-filter button .fa {
    color: #adadad;
}

.store .filter-buttons {
    display: flex;
}

.store .m-portlet.store-wrapper {
    background: transparent;
    box-shadow: none;
}

.store #store-body {
    padding: 25px;
    width: 100%;
}

.store #store-body .productSection {
    margin-bottom: 45px;
}

.cardItem {
    flex: 1 0 11%;
    padding: 5px;
    overflow: hidden;
}

.verticalCardItem.cardItem {
    min-width: 110px;
    max-width: 178px;
    flex-basis: auto;
    flex-grow: 1;
}

.all-products .cardItem {
    flex: 0 0 11%;
}

.cardContent {
    padding: 7px !important;
}

.sectionTopBar h2 {
    font-weight: 200;
}

.sectionTopBar h2:first-letter {
    text-transform: uppercase;
}

.cardItem .cardTitle {
    position: relative;
    white-space: pre;
    overflow: hidden;
    font-size: 1.2rem;
}

.cardItem .productPrice {
    float: right;    
    font-weight: 500;
    margin-top: -15px;
    text-align: right;
    position: relative;
}

.cardItem .productPrice .discount {
    color: #000000;
    position: relative;
    font-size: 0.9rem;
}
.cardItem .productPrice .price {
    color: #299781;
    position: relative;
    font-size: 0.9rem;
}

.discount::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}
td .productPrice {
    width: 100px;
}
.cardItem .productPrice .discount > span {
    color: #525672;    
}

button .discount {
    position: relative;
    color: #525672;
}

button .discount > span {
    font-size: .9rem;
    color: #d7e6f3;
}

.cardItem .cardDesc {
    overflow: hidden;
    white-space: pre;
    position: relative;
}

.horizontalCardItem .cardImage {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.horizontalCardItem > div {
    min-height: 150px;    
}
.horizontalCardItem > div {
    position: relative;
}

.horizontalCardItem .cardContent {
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    line-height: 1;
    padding-bottom: 0 !important;
    position: absolute;
    height: 100%;
    padding: 3%;
}

.horizontalCardItem .cardActions{
    bottom: 0;
    width: 94%;
    position: absolute;
    padding: 18px 0 8px 0;
    background-color: #fff;
}

.verticalCardItem .cardContent {
    padding-bottom: 5px !important;
}

.horizontalCardItem .cardDesc {
    white-space: normal;
    margin-top: 5px;
    max-height: 50%;
}

.sidebarTitle {
    font-weight: 400;
}

.store-body.all-products {
    padding: 20px;
}

.store-filter .filter-buttons a {
    padding: 0 4px;
    height: 50px;
    display: inline-block;
}

.store-filter .filter-buttons a.activeFilter {
    border-bottom: 3px solid #D2322D;
}

@media (max-width: 600px) {
    .verticalCardItem.cardItem {
        max-width: 170px;
    }

    .store-filter .filter-buttons a {
        display: none;
    }
}

@media (max-width: 562px) {
    .verticalCardItem.cardItem {
        max-width: 140px;
    }
}

@media (max-width: 400px) {
    .productSection .cardItem:nth-child(3) {
        display: none;
    }
}

/* =====================================
            SHOPPING CART
========================================*/

.shoppingCartTable .productPrice {
    font-size: 2.2rem;
    font-weight: 600;    
}
.shoppingCartTable .productQuantity {
    font-size: 1.2rem;
    padding: 7px;
    text-align: right;
    font-weight: bold;
    width: 65px;
    height: 33px!important;
    margin: 0 auto;
    background: #d4edc4;
    border: #0080003d 1px solid;
}

.shoppingCartTable .productLabel {
    font-size: 1rem;
    color: #7b7e8a!important;
    font-weight: 600;
    display: block;
    position: relative;
}

.shoppingCartTable .productLabel .discount::after{
    top:24%;
    overflow: hidden;
    width: 50%;
}

.shoppingCartTable th {
    background: #7bc848!important;
    color: white;
}
.shoppingCartTable th span {
    color: white;
}
.shoppingCartTable tbody tr  {
    border-bottom: #E0E0E0 solid 1px;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    width: 2px;
    display: block;
    background: transparent;
}
.store-item-images .store-item-image {
    cursor: pointer;
}
.store-item-image {
    max-width: 120px;
}
@media (min-width: 1848px) {
    .sectionTopBar{
        max-width: calc(178px * 9);
    }
}

@media (max-width: 1847px) {
    .sectionTopBar{
        max-width: calc(178px * 8);
    }
}

@media (max-width: 1684px) {
    .sectionTopBar{
        max-width: calc(178px * 7);
    }
}

@media (max-width: 1506px) {
    .sectionTopBar{
        max-width: calc(178px * 6);
    }
}

@media (max-width: 1329px) {
    .sectionTopBar{
        max-width: calc(178px * 5);
    }
}

@media (max-width: 1150px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}

@media (max-width: 1240px) {
    .sectionTopBar{
        max-width: calc(178px * 5);
    }
}

@media (max-width: 925px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}

@media (max-width: 794px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}

@media (max-width: 747px) {
    .sectionTopBar{
        max-width: calc(178px * 3);
    }
}

@media (max-width: 600px) {
    .sectionTopBar{
        max-width: calc(170px * 3);
    }
}

@media (max-width: 562px) {
    .sectionTopBar{
        max-width: calc(140px * 3);
    }

    .store #store-body {
        padding: 15px 5px;
    }    
}

@media (max-width: 485px) {
    .sectionTopBar{
        max-width: calc(140px * 2);
    }
}