@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#store_ #m_header_nav {
    box-shadow: none;
}

.store div.store-wrapper .m-portlet__head {    
    height: 50px;
    border-bottom: #7bc848 solid 1px
}

.store .m-body div.m-content {
    padding: 0;
}

.cart-items div.m-portlet .m-portlet__head {
    background: #f9f9f9;
}

.store .store-filter-divider {
    width: 1px;
    height: 27px;
    margin: 0 13px;
    background: #bbb;
}

.store .store-filter button:hover {
    box-shadow: inset 0 -3px red;
}

.store .store-filter .store-search button {
    box-shadow: none;
}

.store .store-filter button, .store .filterMenu > button {
    height: 50px;    
    border-radius: 0;
}

.store-filter.right-block {
    justify-content: flex-end;
}

.store-filter.right-block .row {
    flex: 1;
}

.store .store-filter button .fa {
    color: #adadad;
}

.store .filter-buttons {
    display: flex;
}

.store .m-portlet.store-wrapper {
    background: transparent;
    box-shadow: none;
}

.store #store-body {
    padding: 25px;
    width: 100%;
}

.store #store-body .productSection {
    margin-bottom: 45px;
}

.cardItem {
    flex: 1 0 11%;
    padding: 5px;
    overflow: hidden;
}

.verticalCardItem.cardItem {
    min-width: 110px;
    max-width: 178px;
    flex-basis: auto;
    flex-grow: 1;
}

.all-products .cardItem {
    flex: 0 0 11%;
}

.cardContent {
    padding: 7px !important;
}

.sectionTopBar h2 {
    font-weight: 200;
}

.sectionTopBar h2:first-letter {
    text-transform: uppercase;
}

.cardItem .cardTitle {
    position: relative;
    white-space: pre;
    overflow: hidden;
    font-size: 1.3rem;
}

.cardItem .productPrice {
    float: right;    
    font-weight: 500;
    margin-top: -15px;
    text-align: right;
    position: relative;
}

.cardItem .productPrice .discount {
    color: #000000;
    position: relative;
    font-size: 0.9rem;
}
.cardItem .productPrice .price {
    color: #299781;
    position: relative;
    font-size: 0.9rem;
}

.discount::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}
td .productPrice {
    width: 100px;
}
.cardItem .productPrice .discount > span {
    color: #525672;    
}

button .discount {
    position: relative;
    color: #525672;
}

button .discount > span {
    font-size: .9rem;
    color: #d7e6f3;
}

.cardItem .cardDesc {
    overflow: hidden;
    white-space: pre;
    position: relative;
}

.cardItem .cardTitle::after, .cardDesc::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(90deg, transparent, white);
}

.horizontalCardItem .cardImage {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.horizontalCardItem {
    position: relative;
}

.horizontalCardItem .cardContent {
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    line-height: 1;
    padding-bottom: 0 !important;
    position: absolute;
    height: 100%;
    padding: 10px;
}

.horizontalCardItem .cardActions{
    bottom: 10px;
    width: 88%;
    position: absolute;
    margin-bottom: 10px;
}

.verticalCardItem .cardContent {
    padding-bottom: 5px !important;
}

.horizontalCardItem .cardDesc {
    white-space: normal;
    margin-top: 5px;
}

.sidebarTitle {
    font-weight: 400;
}

.store-body.all-products {
    padding: 20px;
}

.store-filter .filter-buttons a {
    padding: 0 4px;
    height: 50px;
    display: inline-block;
}

.store-filter .filter-buttons a.activeFilter {
    border-bottom: 3px solid #D2322D;
}

.store-wrapper div[class^='col-'] {
    margin-bottom: 0 !important;
}

@media (max-width: 600px) {
    .verticalCardItem.cardItem {
        max-width: 170px;
    }

    .store-filter .filter-buttons a {
        display: none;
    }
}

@media (max-width: 562px) {
    .verticalCardItem.cardItem {
        max-width: 140px;
    }
}

@media (max-width: 400px) {
    .productSection .cardItem:nth-child(3) {
        display: none;
    }
}

/* =====================================
            SHOPPING CART
========================================*/

.shoppingCartTable .productInfo {
    display: table;
}

.shoppingCartTable .productInfo > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 15px 15px 0;
}

.shoppingCartTable.preview .productInfo > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}
.shoppingCartTable.preview .productInfo .user-avatar {
    padding-right: 10px;
}
.shoppingCartTable table th {
    padding: 15px;
}

.shoppingCartTable .productPrice {
    font-size: 2.2rem;
    font-weight: 600;    
}

.shoppingCartTable .productQuantity {
    font-size: 1.2rem;
    padding: 7px;
    text-align: right;
    font-weight: bold;
    width: 65px;
    height: 33px!important;
    margin: 0 auto;
    background: #d4edc4;
    border: #0080003d 1px solid;
}

.shoppingCartTable .productLabel {
    font-size: 1rem;
    color: #7b7e8a!important;
    font-weight: 600;
    display: block;
    position: relative;
}

.shoppingCartTable .productLabel .discount::after{
    top:24%;
    overflow: hidden;
    width: 50%;
}
.shoppingCartTable .productLink {
    font-size: 1rem;
    font-weight: 600;
    margin: 0!important;
    cursor: pointer;
}

.shoppingCartTable th {
    background: #7bc848!important;
    color: white;
}
.shoppingCartTable th span {
    color: white;
}
.shoppingCartTable tbody tr  {
    border-bottom: #f2f3f8 solid 2px;
 }
.shoppingCartTable tbody tr:last-child  {
    border-bottom: none!important;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    width: 2px;
    display: block;
    background: transparent;
}

/* CHECKOUT */
.payments-widgets .payment-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.payments-widgets .payment-item:hover {
    background: #f4f5f8;
}

@media (max-width: 567px) {
    .store-filter.right-block {
        justify-content: flex-start;
    }

    .store-filter.right-block .col-xs-6 {
        flex: 1;
    }
}

.floating-basket {
    color: #e02426;
    opacity: 0;
    animation-name: floatingToRightTop;
    animation-duration: 1s;
    display: flex !important;
    width: 0;
    will-change: auto;
    font-size: 2rem;
}

@keyframes floatingToRightTop {
    from {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(400px) translateY(-400px) scale(3);
        opacity: 0;
    }
}

.storeSlider .slick-slide {
    position: relative;
}

.storeSlider .slick-slide .sliderItem img {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.storeSlider .slick-slide .sliderItem .slideTitle {
    color: #fff;
    font-weight: 900;
    text-shadow: 0 2px 15px rgba(128, 128, 128, 0.76);
}

.sliderItem {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1848px) {
    .sectionTopBar{
        max-width: calc(178px * 9);
    }
}


@media (max-width: 1847px) {
    .sectionTopBar{
        max-width: calc(178px * 8);
    }
}


@media (max-width: 1684px) {
    .sectionTopBar{
        max-width: calc(178px * 7);
    }
}

@media (max-width: 1506px) {
    .sectionTopBar{
        max-width: calc(178px * 6);
    }
}

@media (max-width: 1329px) {
    .sectionTopBar{
        max-width: calc(178px * 5);
    }
}

@media (max-width: 1150px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}

@media (max-width: 1240px) {
    .sectionTopBar{
        max-width: calc(178px * 5);
    }
}


@media (max-width: 925px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}


@media (max-width: 794px) {
    .sectionTopBar{
        max-width: calc(178px * 4);
    }
}


@media (max-width: 747px) {
    .sectionTopBar{
        max-width: calc(178px * 3);
    }
}

@media (max-width: 600px) {
    .sectionTopBar{
        max-width: calc(170px * 3);
    }
}

@media (max-width: 562px) {
    .sectionTopBar{
        max-width: calc(140px * 3);
    }
}


@media (max-width: 485px) {
    .sectionTopBar{
        max-width: calc(140px * 2);
    }
}