.subscriptions-banner {
    min-height: 450px;
    background-image: url(../media/images/subscription-bg.png);
    background-color: #f2a517;
    background-position: center bottom;
    background-repeat: no-repeat;    
}
.subscriptions-banner > .description {
    color: #1B3F5E;
    padding-bottom: 1rem;    
}
.subscriptions-banner > .description h3 {
    font-size: 1.5rem;
    color: #1B3F5E;
}
.subscriptions-banner > .description p {
    margin: 0.2rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #1B3F5E;
}
.subscriptions-list img {
    max-width: 70%;
}
.subscriptions-list {
    background-color: #d8dcdd;    
    color: #1B3F5E;
    min-height: 500px;
}
subscriptions-list h3 {
    font-size: 2rem;
}
.subscriptions-list .btn {
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
    color: #1B3F5E;
}

@media (max-width: 420px) {
    .subscriptions-banner {
        background-size: 115%;
        min-height: 270px !important;
    }
    .subscriptions-banner > .description {
        padding-bottom: 5px;
    }
    .subscriptions-banner > .description h3 {
        font-size: 1.15rem;
    }
    .subscriptions-banner > .description p {
        font-size: 0.9rem;
    }
}