:root {
    --splash-header-bg: #3d6b99;
    --splash-navbar-bg: #1b3f5e;
    --splash-light-blue: #5ba6f1;
    --splash-dark-text: #1b3f5e;
}
.splash {
    background: #fff;
}
.splash .logo {
    flex: 1;
}
.splash .splash-header  .links {
    flex: 1;
}

.splash-header .btn {
    background: transparent;
    color: #FFF;
    font-size: 1.2em;
    margin-left: 10px;
}
.splash-footer .btn {
    background: transparent;
    color: var(--splash-dark-text);
    font-size: 1.2em;
    margin-left: 10px;
}
.splash-header .btn.signup {
    border: 1px solid;
    border-top-right-radius: 10px !important
}
.splash-header .container,
.splash-footer .container {
    display: flex;
    align-items: center;
}
.splash-header {
    background-color: var(--splash-header-bg);
}
.splash-footer {
    background-color: #fff;
    padding: 20px;
}


.splash-navigation {
    background-color: var(--splash-navbar-bg);
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 1em;
}
.splash-navigation .container{
    position: relative;
}
.splash-navigation .btn {
    background-color: var(--splash-navbar-bg);
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}
.splash-navigation-tools {
    position: absolute;
    right: 0;
    top: 2px;
}
.header-break {
    margin-top: 30px;
    margin-bottom: 30px;
}

.splash-jumbotron {
    padding: 10px;
    background-color: var(--splash-light-blue);
}
.splash-jumbotron .header-side {
    align-self: center;
    color: #fff;
}
.splash ul {
    /* list-style-type: none;*/
    margin-left: 0px;
    padding: 5px 0 0 15px;
}
.splash-image {
    width: 100%;
}

.splash-platform {
    margin-top: 20px;
    margin-bottom: 20px;
}
.splash-platform h5 {
    text-transform: uppercase;
    margin: 0px;
}
.flipperIcon {
    width: 80px;
}

.flipper-title {
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--splash-dark-text);
    /* line-height: 100%; */
    height: 250px;
    position: relative;
    top: 11%;
    width: 100%;
    font-weight: bold;
}
.flipper-cards {
    background-color: var(--splash-light-blue);
    text-align: left;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    min-height: 252px;
}
@media (min-width: 768px) and (max-width: 1239.98px) {
    .splash  .container {
        max-width: 991px;
    }
    .flipper-title {
        top:5%;
    }
}