.form-optional {
    background:#e4e6ca;
    padding:20px 0 1px;
    margin: 0px 36px;
}
label.m--margin-bottom-10 {
    display:block;
}
.g-stepper + div {
    margin-top: 40px;
}
@media (max-width: 1240px) {
    .col-form-label {
        text-align: left;
    }   
}

@media (max-width: 970px) {
    .col-form-label {        
        margin-bottom: 0 !important;
    }
    
    .form-group {
        margin-bottom: 0 !important;
    }
    
    .g-stepper + div {
        margin-top: 10px !important;
    }    
    .download-button {
        text-align: center;
    }
}