label.m--margin-bottom-10 {
    display:block;
}
.form-control-feedback.error {
    margin-top: 3px;
}
.m-portlet--brand .m-portlet__head-tools .m-nav__link {
  color: #fff;
}
@media (max-width: 1240px) {
    .signup-page .col-form-label {
        text-align: left;
    }
    .signup-page .form-group > div {
        margin-bottom: 5px !important;
    }
    .signup-page .col-form-label {        
        margin-bottom: 0 !important;
    }
    .signup-page .form-group {
        margin-bottom: 0 !important;
    }    
}

@media (max-width: 992px) {
    .download-button {
        text-align: center;
    }
}