#root{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Custom Stylesheet */


.pointer {
  cursor: pointer;
}

li > .small-avatar {
  width: 20px;
  height: 20px;
}

.mt-btn.mt-btn-success {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.mt-btn.mt-btn-success:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781;
}

.mt-btn.mt-btn-danger {
  color: #fff;
  background-color: #f4516c ;
  border-color: #f4516c ;
}

.mt-btn.mt-btn-danger:hover {
  color: #fff;
  background-color: #d4445c;
  border-color: #d4445c;
}

.loginWrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
  background-image: url(/src/media/images/menu_poster.jpg);
  background-size: cover;
}

.main-tabs > div > div > div:last-child {
  background-color: #fff;
}


.main-tabs .tab-header-item > span > div  {
  color: #fff;
}

.full-width {
  width: 100%;
}

header.dialogAppBar {
  background-color: #0088CC;
}

div.form-inputs {
  margin-bottom: 12px;
}

a.link-btn {
  text-decoration: none !important;
}

.my-timeline.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
  left: 1.44rem;
}

.my-timeline.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
  padding-left: 4rem;
}


.m-timeline-2.my-timeline {
  overflow: hidden;
  position: relative;
}

.m-timeline-2.my-timeline:before {
  left: 2.25rem;
}


.csvTable td, .csvTable th {
  padding: 8px 5px 4px 8px;
}

.disabled {
  pointer-events: none !important;
  cursor: not-allowed;
  opacity: .7;
}

.not-allowed {
  cursor: not-allowed;
}

.form-control-feedback.error {
  color: #f4516c;
}


button [role="progressbar"] {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

div.myGridTileBar {
  height: 80px;
  background-color: rgba(0, 17, 0, 0.58);
}

div.gridProgressBar {
  height: 6px;
  border-radius: 6px;
}

table.m-datatable__table {
  position: relative;
}


table th.sort-table-head {
  position: relative;
  cursor: pointer;
}

table th.sort-table-head:hover  span{
  font-weight: 600;
}

table th .sort-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(5, 65, 112, 0.64);
}

.table-message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}

.table-message h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-message [role="progressbar"] {
  margin-left: 29px;
}

.paggination-group button {
  min-width:50px;
}

.paggination-group button:not('btn-metal') {
  background-color: #2f8eed;
}

.radius-0 {
  border-radius: 0 !important;
}

div.portlet-header-input:before {
  background-color: #fff;
}

.portlet-header-input input, .portlet-header-input > div > button {
  color: #fff;
}

.m-btn.btn.btn-info {
  background-color: #36a3f7;
  border-color: #36a3f7;
}

.digits-error {
  color: #f4516c;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
}

.croppedBlock {
  background: #edf2f8ad;
  padding: 1px;
  margin-top: 10px;
}

.croppedBlock img {
  margin: 10px auto;
  display: block;
}

.signup-cropper {
  margin: auto;
}

.m-input.main-select {
  padding-bottom: 0;
  padding-top: 0;
}

.m-input.main-select > div > div[role="button"] {
  padding: 0.65rem 0
}

.m-input.main-select > div > div[role="button"]:focus {
  background: none;
}



.m-input.main-select::before, .m-input.main-select:hover:not(.MuiInput-disabled-102)::before, .m-input.main-select:hover:not(.MuiInput-disabled-102)::after {
  background-color: #0000 !important;
  display: none;
}


/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

 .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.grid-tile a, .grid-tile a:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.m-nav__link-text::first-letter, .m-subheader__title::first-letter {
  text-transform: uppercase;
}

.avatar {
  box-shadow: 0px 2px 15px 1px rgba(69, 65, 78, 0.48);
}

.avatar > img {
  width: 100%;
}

table.m-middle-table td, table.m-middle-table th {
  vertical-align: middle;
}

div.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table {
  display: inline-block;
  width: auto;
  min-width: 100%;
}