#root{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Custom Stylesheet */


.pointer {
  cursor: pointer;
}

li > .small-avatar {
  width: 20px;
  height: 20px;
}

.mt-btn.mt-btn-success {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.mt-btn.mt-btn-success:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781;
}