#root{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Custom Stylesheet */


.pointer {
  cursor: pointer;
}

li > .small-avatar {
  width: 20px;
  height: 20px;
}

.mt-btn.mt-btn-success {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.mt-btn.mt-btn-success:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781;
}

.loginWrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
  background-image: url(/src/media/images/menu_poster.jpg);
  background-size: cover;
}

[class^="MuiTab-label"] {
  color: #fff;
}

div[class^="MuiTabIndicator"] {
  background-color: #fff;
}