#root{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Custom Stylesheet */


.pointer {
  cursor: pointer;
}

li > .small-avatar {
  width: 20px;
  height: 20px;
}

.mt-btn.mt-btn-success {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
}

.mt-btn.mt-btn-success:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781;
}

.loginWrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
  background-image: url(/src/media/images/menu_poster.jpg);
  background-size: cover;
}

.main-tabs > div > div > div:last-child {
  background-color: #fff;
}


.main-tabs .tab-header-item > span > div  {
  color: #fff;
}

.full-width {
  width: 100%;
}

header.dialogAppBar {
  background-color: #0088CC;
}

div.form-inputs {
  margin-bottom: 12px;
}

a.link-btn {
  text-decoration: none !important;
}

.my-timeline.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
  left: 1.44rem;
}

.my-timeline.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
  padding-left: 4rem;
}


.m-timeline-2.my-timeline {
  overflow: hidden;
  position: relative;
}

.m-timeline-2.my-timeline:before {
  left: 2.25rem;
}

.react-csv-input {
  border: 1px solid #dcdcdcb8;
  background: rgba(88, 158, 228, 0.02);
  padding: 10px;
  border-radius: 5px;
}

.csvTable td, .csvTable th {
  padding: 8px 5px 4px 8px;
}

.disabled {
  pointer-events: none !important;
  cursor: not-allowed;
  opacity: .7;
}

.not-allowed {
  cursor: not-allowed;
}

.form-control-feedback.error {
  color: #f4516c;
}


button [role="progressbar"] {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

div.myGridTileBar {
  height: 80px;
  background-color: rgba(0, 17, 0, 0.58);
}

div.gridProgressBar {
  height: 6px;
  border-radius: 6px;
}

table.m-datatable__table {
  position: relative;
}


table th.sort-table-head {
  position: relative;
  cursor: pointer;
}

table th.sort-table-head:hover  span{
  font-weight: 600;
}

table th .sort-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(5, 65, 112, 0.64);
}

.table-message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}

.table-message h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-message [role="progressbar"] {
  margin-left: 29px;
}

.paggination-group button {
  min-width:50px;
}

.paggination-group button:not('btn-metal') {
  background-color: #2f8eed;
}

.radius-0 {
  border-radius: 0 !important;
}

