
#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    position: fixed;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.22);
}

::-webkit-scrollbar-track {
    background-color: #ededed;
}

button, [role="button"], [type="button"], .btn {
    outline: none !important;
}

textarea {
    resize: none;
}

.g-red {
    color: #D2322D !important;
}

.g-green {
    color: #7ac943 !important;
}

.g-orange {
    color: #f79226 !important;
}

.g-blue {
    color: #29a9ff !important;
}

.g-gray {
    color: #ccc !important;
}

.g-metal {
    color: #777 !important;
}

.img-responsive {
    max-width: 100%;
}

.m-o-hidden {
    overflow: hidden !important;
}

.btn-outline-metal.btn-white {
    color: #fff;
    border-color: #fff;
}

.btn-outline-metal.btn-white:hover {
    background-color: #0a8cf0;
}

.m-body .m-content {
    padding: 0 !important;
}

.App {
    text-align: center;
}

.user-menu-header {
    background-color: #385774 !important;
}

.border-b-grey {
    border-bottom: #575962 solid 2px !important;
}

.border-b-green {
    border-bottom: #558436 solid 2px !important;
}

.border-b-red {
    border-bottom: #ce342c solid 2px !important;
}

.border-b-orange {
    border-bottom: #f8912a solid 2px !important;
}

.border-b-blue {
    border-bottom: #4fa1ea solid 2px !important;
}
.border-b-blue a, .border-b-blue i.fa {
    color: #4fa1ea;
}

.border-b-darkblue {
    border-bottom: #385774 solid 2px !important;
}

.border-b-darkgreen {
    border-bottom: #558436 solid 2px !important;
}

.table th, .table td {
    vertical-align: middle;
}

.table td.actions {
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}
.sub-table .table thead tr.active th {
    padding: 6px 10px;
}

.user-avatar {
    max-width: 100px;
    display: block;
}
.user-avatar img { 
    width: 100%;
    min-width: 50px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.gravity-logo img {
    width: 100%;
    height: auto;
    max-width: 220px;
}
.gravity-logo.logo-only img {
    max-width: 250px;
}
.margin-0 {
    margin: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.no-padding {
    padding: 0 !important;
}
.row > div {
    padding-left: 7px;
    padding-right: 7px;
}
.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Custom Stylesheet */

.pointer {
    cursor: pointer;
}

li > .small-avatar {
    width: 20px;
    height: 20px;
}

.mt-btn.mt-btn-success {
    color: #fff;
    background-color: #34bfa3;
    border-color: #34bfa3;
}

.mt-btn.mt-btn-success:hover {
    color: #fff;
    background-color: #2ca189;
    border-color: #299781;
}

.mt-btn.mt-btn-danger {
    color: #fff;
    background-color: #f4516c;
    border-color: #f4516c;
}

.mt-btn.mt-btn-danger:hover {
    color: #fff;
    background-color: #d4445c;
    border-color: #d4445c;
}

.no-border {
    border-radius: 0 !important;
}

.main-background {
    background-image: url(./media/images/bg-3.jpg);    
}

.loginWrapper {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header {
    background-image: url(/media/images/menu_poster.jpg);
    background-size: cover;
}

.top-logo {
    width: 270px;
    height: auto;
}

.full-width {
    width: 100%;
}

header {
    transition: .2s;
}

header.dialogAppBar {
    background-color: #0088CC;
}

div.form-inputs {
    margin-bottom: 12px;
}

a.link-btn {
    text-decoration: none !important;
}

.my-timeline.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
    left: 1.44rem;
}

.m-timeline-2.my-timeline {
    overflow: hidden;
    position: relative;
}

.m-timeline-2.my-timeline:before {
    left: 2.25rem;
}

.csvTable td, .csvTable th {
    padding: 8px 5px 4px 8px;
}

.disabled {
    pointer-events: none !important;
    cursor: not-allowed;
    opacity: .7;
}

.not-allowed {
    cursor: not-allowed;
}

.form-control-feedback.error {
    color: #f4516c;
}

button [role="progressbar"] {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

table th.sort-table-head {
    position: relative;
    cursor: pointer;
}

table th.sort-table-head:hover span {
    font-weight: 600;
}

table th .sort-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(5, 65, 112, 0.64);
}

.table-message {    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.table-message h2 {
    text-align: center;
}
.table-message [role="progressbar"] {
    margin-left: 29px;
}

.slick-prev::before, .slick-next::before {
    color: grey !important;
}

.paggination-group button {
    min-width: 50px;
}

.paggination-group button:not('btn-metal') {
    background-color: #2f8eed;
}

.paggination-group .btn-info {
    color: white;
}

.radius-0 {
    border-radius: 0 !important;
}

.portlet-header-input input, .portlet-header-input > div > button {
    color: #555;
}

.m-btn.btn.btn-info {
    background-color: #36a3f7;
    border-color: #36a3f7;
}

.digits-error {
    color: #f4516c;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px;
    z-index: 5;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
}

[role="dialog"] .cropSaveBtn {
    position: absolute;
    top: -65px;
    right: -6px;
}

.croppedBlock {
    background: #edf2f866;
    margin-top: 10px;
    border-radius: 5px;
}

.croppedBlock img {
    margin: 10px auto;
    display: block;
}

.signup-cropper {
    margin: auto;
}

.signup-page .m-form__section {
    text-align: right;
}

.signup-page .m-form__section .m-input {
    text-align: left;
    box-shadow: none!important;
    border-radius: 4px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;


}
.m-form__section .m-input {
    text-align: left;
    box-shadow: none!important;
    border-radius: 4px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.m-form__section .m-input:disabled{
    background-color: #e9ecef!important;
}

.m-input.main-select {
    padding-bottom: 0;
    padding-top: 0;
}

.m-input.main-select > div > div[role="button"] {
    padding: 0.65rem 0
}

.m-input.main-select > div > div[role="button"]:focus {
    background: none;
}

.m-input.main-select::before, .m-input.main-select:hover:not(.MuiInput-disabled-102)::before, .m-input.main-select:hover:not(.MuiInput-disabled-102)::after {
    background-color: #0000 !important;
    display: none;
}

.grid-tile a, .grid-tile a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.m-nav__link-text::first-letter {
    text-transform: uppercase;
}

.avatar {
    box-shadow: 0px 2px 15px 1px rgba(69, 65, 78, 0.48);
}

.avatar > img {
    width: 100%;
}

table.m-middle-table td, table.m-middle-table th {
    vertical-align: middle;
}

div.m-card-profile .m-card-profile__pic img {
    max-width: 100% !important;
}

.btn-icon {
    font-weight: 600;
    margin-left: 10px;
}

.vertical-divider {
    width: 1px;
    height: 100%;
    margin: 0 5px;
}

.store-filter.left-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

div.m-portlet, div.small-card-content {
    margin-bottom: 20px;
}

.progress .progress-bar.bg-warning {
    background-color: #ed9c28 !important;
}

.progress .progress-bar.bg-success {
    background-color: #47a447 !important;
}

.progress .progress-bar.bg-danger {
    background-color: #D2322D !important;
}

div.progress.m-progress--sm .progress-bar {
    border-radius: 0;
}

.progress {
    background-color: #D2322D !important;;
    border-radius: 10px;
}

.m-portlet.transparent, .m-portlet.transparent .m-portlet {
    background: transparent !important;
    border-color: transparent;
    box-shadow: none;
}

.m-portlet.transparent .m-portlet__body {
    padding: 0;
    background: transparent !important;
}

div.m-widget24 {
    background: #fff;
    margin-bottom: 15px;
}

div.m-portlet {
    margin-bottom: 0;
}

.quick-card-title{
    margin-top: 0px;
}
.quick-card-item {
    margin-top: 15px!important;
}

.quick-card-item img{
    width: 80%;
    padding: 12% 10% 9% 5%;
}

.dashboard-shopping-cart-body {
    min-height: 365px;
}
.dashboard div.m-portlet .m-portlet__body {
    padding: 0.8rem;
}
.dashboard .table-message {
    min-height: 250px;
}
.passRateCard h1 {
    font-size: 7rem;
    color: #008000;
}

@media (min-width: 1240px) {
    .quick-card-title{
        margin-top: 15px;
    }

    .quick-card-item img{
        width: 100%;
        padding: 19% 10% 11% 5%;
        max-width: 119px;
    }
}


.single-card img {
    height: 120px;
    width: 120px !important;
    padding: 6px;

}

.small-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card-content .small-card {
    background-color: #fdfdfd;
    /*border-left: 6px solid #589ee4;*/
    flex: 1;
    align-items: center;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border-radius: 3px 0 0 2px;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.small-card-content .small-card .row {
    width: 100%;
    margin: auto;
}

.small-card-content .small-card:first-child {
    margin-top: 0;
}

.small-card-content .small-card:last-child {
    margin-bottom: 0;
}

.small-card .col {
    line-height: 1;
}

.small-card .widget-desc {
    font-size: 0.8rem;
}

.small-card .m-widget1__title {
    margin-bottom: 1px;
}

.fa.widget-icon {
    font-size: 65px;
    color: #27aae1;
}

.m-portlet.m-portlet--head-solid-bg .m-widget1 .m-widget1__item {
    padding: 0.6rem 0;
}

.m-widget1__item .progress {
    width: 100%;
    height: 7px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-1 {
    flex: 1
}

.pie-block {
    display: flex;
    align-items: center;
    padding: 5px;
}

div.pie-block > canvas {
    max-width: 110px;
    max-height: 110px;
}

.m-portlet canvas {
    max-width: 100%;
    max-height: 250px;
}

div.m-portlet .m-portlet__head {
    padding: 0 1.2rem;    
}

div.m-portlet .m-portlet__body {
    padding: 1.2rem;
}

div.m-portlet__head-icon div[class^='col-'] {
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 15px;
}

.circle-background:before{
    background: #4fa1ea;
    padding: 6px;
    border-radius: 60px;
    color: white;
}
.square-background:before{
    background: #4fa1ea;
    padding: 6px;
    color: white;
}

div.row {
    margin-right: -7px;
    margin-left: -7px;
}

div.row-15{
    margin-right: -15px;
    margin-left: -15px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i:not(.la-globe) {
    font-size: 1.4rem;
    line-height: 35px;
    border-radius: 50%;
    /*box-shadow: 0 2px 5px #80808036;*/
    width: 35px;
    height: 35px;
}

.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper {
    left: -50px !important;
}

div.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i:before {
    background: none;
    font-weight: normal;
    color: #adadad;
    -webkit-background-clip: content-box;
    -webkit-text-fill-color: inherit;
}

body {
    background-color: #f2f3f8;
}

div.m-stack.m-stack--desktop.m-stack--ver > .m-stack__item.m-stack__item--fluid {
    box-shadow: none;
}

.m-stack h5, .m-stack legend {
    line-height: 1;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item:nth-child(3) {
    border-right: 1px solid #8080800f;
}

.breadcrumbs a {
    color: #fff;
}

.small-card .m-badge {
    min-height: 15px;
    min-width: 15px;
}

.popperDropMenu {
    z-index: 55;
}

#header-menu li {
    justify-content: center;
}

#header-menu li .fa {
    font-size: 1.6rem;
}

#header-menu li .fa.fa-globe {
    margin-right: 0 !important;
}

.m-aside-left {
    transition: all .2s;
}

.m-sidebar-is-open .m-aside-left {
    left: 0;
}

.m-nav__link .m-nav__link-icon {
    position: relative;
}

.m-nav__link .m-nav__link-icon .g-badge {
    position: absolute;
    top: 6px;
    right: -2px;
}

.g-badge {
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    text-shadow: 0 2px 5px #000000ba;
    box-shadow: 0 0 0 2px white;
}

.g-badge.badge-red {
    background: red;
    color: #fff;
}

address.signUpOptional {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f5f5f5;
}

.g-stepper svg {
    width: 60px;
    height: 60px;
}

.g-stepper > div > div {
    top: 30px;
    width: calc(100% - 60px);
    left: auto;
    right: calc(50% + 30px);
    position: absolute;
}

.g-stepper > div:last-child > div {    
    left: calc(-50% + 25px);
    width: calc(100% - 50px);
    right: auto;
}

div#notFoundPage {
    margin: -30px;
    background-position: center top;
    background-repeat: no-repeat;
}

.store div#notFoundPage {
    margin: 0;
}

.transactionsList table td, .transactionsList table th {
    text-align: center;
}

.with-divider {
    border-top: 1px solid rgba(128, 128, 128, 0.45);
}

.CropperBlock {
    text-align: center;
    position: relative;
}

.cropper-point{
    display: none!important;
}

.progress {
    background-color: #BDCCD4 !important;
}

.upload-btn-wrapper.withImage .uploadImgBtn .uploadBtnText {
    display: none;
}

.upload-btn-wrapper.withImage .uploadImgBtn:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.31);
}

.upload-btn-wrapper.withImage .uploadImgBtn:hover .uploadBtnText {
    display: block;
    font-weight: 600;
    color: #444;
    text-shadow: 0 0 3px white;
}

.upload-btn-wrapper.withImage .croppedThumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.uploadImgBtn {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #35bfa3;
    overflow: hidden;
    transition: all .3s;
}

.uploadImgBtn > span {
    font-size: 1rem;
}

.uploadImgBtn:hover {
    background: rgba(172, 227, 240, 0.58);
}

.withImage .uploadImgBtn:hover {
    background: rgba(115, 156, 174, 0.7);
}

.uploadImgBtn > i {
    font-size: 5rem;
    color: #35bfa3;
}

.uploadImgBtn.circular {
    border-radius: 50%;
}

.cropper-modal {
    opacity: 0.6;
    background-color: #040404;
    box-shadow: 0 6px 18px #0000006e;
}

.MainModal .m-form .m-form__group {
    padding-top: 5px;
    padding-bottom: 5px;
}

.MainModal div[class^='col-'] {
    margin-bottom: 5px;
}

.csv-upload-errors {   
    width: 100%;
    margin: 15px;
    color: red;
    list-style: none;
}
.csv-upload-errors div span {
    font-size: 0.9rem;
    margin-left: 10px;
    display: block;
}
#m_aside_left {
    position: fixed;
}

.m-wrapper {
    margin-left: 225px;
    transition: margin .3s;
    will-change: auto;
}

@media (min-width: 1864px) {
    .quick-link-card {
        padding-bottom: 9px !important;
    }
}

@media (min-width: 1367px) {
    .quick-link-text {
        margin-top: 15px !important;
    }
}

@media (min-width: 1366px) and (max-width: 1680px) {
    .quick-link-card {
        padding-bottom: 5px !important;
    }
}

@media (min-width: 1240px) and (max-width: 1367px) {
    .quick-link-image img {
        width: 100%;
        height: auto;
    }

    .quick-link-card {
        padding-bottom: 0 !important;
    }

    .quick-link-image {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        max-width: 40%;
    }

    .quick-link-text {
        max-width: 60%;
        flex: 0 0 60%;
        margin-top: 10px;
    }
}
.table thead tr.active th {
    background-color: #F4F3F8;
    vertical-align: middle;    
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 10px;
    color: #575962;
}

.attempt-pass {
    background-color: #34bfa3;
    color: white;
}

.attempt-fail {
    background-color: rgba(255, 0, 0, 0.4);
    color: white;
}
td.unit {   
    background-color: #ffffff;
    font-size: 1.4rem;
    color: #337ab7;
}
td.rotate {
    white-space: nowrap;
    position: relative;
    width: 50px;
    background-color: #337ab7;
    padding-left: 25px!important;
    padding-right: 24px!important;
}

td.rotate div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

td.rotate div span {
    font-size: 26px;
    color: #ffffff;
    transform: rotate(270deg);
}

.unit-table .m-badge.m-badge--brand.m-badge--wide {    
    color: white !important;
    font-weight: bold;
    height: 25px;
}

.unit-table .comment-cell {
    min-width: 450px;
    width: 99% !important;
}

.text-align-left span {
    text-align: left!important;
}

.date-group-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.date-group-selector .date-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 24%;
    flex-basis: 24%;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.date-group-selector .date-group:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.date-group-selector .date-group:hover:after {
    width: 100%;
}

.date-group-selector .date-group.date-selector-active:after {
    width: 100%;
}

.no-padding-top {
    padding-top: 0 !important;
}

.date-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 12px;
}

.calendar-management-block {
    width: 100%;
    background-color: #e9e7e8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.calendar-management-block .calendar-toggle button, .calendar-management-block .arrow button {
    min-height: 20px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.calendar-management-block .arrow button span {
    height: 20px;
    line-height: 21px;
}

.calendar-management-block .arrow button {
    width: 24px;
}

.calendar-management-block .calendar-toggle button {
    padding-left: 5px;
    padding-right: 5px;
}

.calendar-management-block .calendar-toggle button span {
    text-transform: none;
}

.calendar-management-block .calendar-toggle span {
    color: #606060 !important;
}

.online-users-chart-header {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.online-users-chart-header h3 {
    margin-bottom: 0;
}

.pie-block canvas {
    position: relative!important;
    margin: 0 auto;
}

.block-header {
    border-bottom-width: 2px !important;
    padding: 0 0 3px 0 !important ;
    min-height: 0 !important;
    margin: 0 0 10px 0 !important;        
}

.block-header h3 {
    font-size: 1.3rem;
    margin: 30px 0 10px 0; 
    font-family: Roboto  !important;
    color: #575962;
}
.messages > div.row {
    border-radius: 10px;
    background-color: #F1F2F7;
    margin: 10px 0;
    padding: 15px 0;
}
.messages > div.row.message-new {
    background-color: #E0FCFF;
}
.m-portlet__head-icon.red i {
    color: #CE342C;
}
.btn.red {
    background-color: #CE342C;
    border-color: #CE342C;
}
.m-portlet__head-icon.blue i {
    color: #4FA1EA;
}
.btn.blue {
    border-color: #4FA1EA;
    background-color: #4FA1EA;
}
.m-portlet__head-icon.green i {
    color: #558436 ;
}
.btn.green {
    background-color: #558436;
    border-color: #558436;
}
.m-portlet__head-icon.violet i {
    color: #7900C7 ;
}
.btn.violet {
    background-color: #7900C7;
    border-color: #7900C7;
}
.border-b-violet {
    border-bottom: #7900C7 solid 2px !important;
}
@media (min-width: 1240px) {
    .margin-bottom-zero {
        margin-bottom: 0 !important;
    }
    .school-average-margins {
        margin-top: 7px !important;
        margin-bottom: 7px !important;
    }

    .quick-link-image {
        margin-top: 15px;
    }

    .quick-link-description {
        display: flex;
        flex-direction: column;
        max-width: 55%;
    }

    .quick-link-description h5, .quick-link-description h3 {
        margin: 0;
    }

    .account-header-border {
        border-bottom-width: 2px !important;
        padding: 0 0 3px 0 !important ;
        min-height: 0 !important;
        margin: 15px 4px 10px 2px !important;
        width: 99% !important;
        border-color: #467822 !important;
    }
}

@media (max-width: 1240px) {

    .m-wrapper {
        transition: margin 0.5s ease-in;
        padding-top: 0 !important;
    }

    #m_aside_left {
        max-height: 0;
        transition: max-height 0.5s ease-out;
        /*top: 60px;*/
        width: 100% !important;
        min-width: 100%;
        position: relative;
        left: 0;
        overflow-y: hidden;
        z-index: 1;
    }

    .m-sidebar-is-open #m_aside_left {
        transition-delay: 0s;
        max-height: 400px;
        transition: max-height 0.5s ease-in;
    }

    .m-sidebar-is-open #m_aside_left.menu-active-learningAreas {
        max-height: 205px;
    }

    .m-sidebar-is-open #m_aside_left.menu-active-sharing {
        max-height: 277px;
    }

    .m-sidebar-is-open #m_aside_left.menu-active-store {
        max-height: 313px;
    }

    .m-sidebar-is-open #m_aside_left.menu-active-accounts {
        max-height: 169px;
    }

    .m-sidebar-is-open #m_aside_left.menu-active-studentsAndStaff {
        max-height: 169px;
    }

    .m-sidebar-is-open #m_aside_left.parent-menu-active-dashboard {
        max-height: 375px;
    }

    .m-sidebar-is-open #m_aside_left.parent-menu-active-store {
        max-height: 450px;
    }

    .m-sidebar-is-open #m_aside_left.parent-menu-active-calendar {
        max-height: 375px;
    }

    .m-wrapper {
        margin-left: 0 !important;
    }
}

.quick-link .quick-link-title {
    display: block;
    color: #575962;
}

.quick-link .quick-link-title span {
    font-size: 1.5vw;
    font-weight: 600;
}

.quick-link .quick-link-title h5 {
    font-size: 1vw;
    margin: 0;
}

.quick-link-download {
    color: #00bc5e !important;
}

.quick-link-film {
    color: #f2af16 !important;
}

.zoom-preview {
    zoom: 0.4;
}

.store-container {
    white-space: nowrap;
    overflow-x: auto;
}

.store-featured {    
    white-space: pre-wrap;   
    zoom: 0.8;
}
.store-featured .verticalCardItem.cardItem{
    max-width: 150px;
}

.store-featured .empty-stars:before {
    letter-spacing: -1px;
}
.store-featured .full-stars:before {
    letter-spacing: 0;
}

.store-featured-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    color: #aeaeb0;
}
.invoice-title{
    font-size: 32px;
    display: block;
    text-align: center;
}
.sortable-chosen {
    border: 1px #cccccc dashed;
    padding: 5px 16px;
}
.sortable-questions label {
    cursor: move;
}
.table-filter {
    max-width: 350px;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 15px;
}
.m-brand__logo img {
    max-width: 165px;
    margin-top: 3px;
}
@media (min-width: 1240px) {
    .m--visible-desktop-lg {
        display: block !important; }
    .m--visible-desktop-lg-inline-block {
        display: inline-block !important; }
    .m--visible-desktop-lg-inline {
        display: inline !important; }
    .m--visible-desktop-lg-table {
        display: table !important; }
    .m--visible-desktop-lg-table-cell {
        display: table-cell !important; }
    .m--hidden-desktop-lg {
        display: none !important; } }

@media (min-width: 1440px) {
    .m--visible-desktop-xl {
        display: block !important; }
    .m--visible-desktop-xl-inline-block {
        display: inline-block !important; }
    .m--visible-desktop-xl-inline {
        display: inline !important; }
    .m--visible-desktop-xl-table {
        display: table !important; }
    .m--visible-desktop-xl-table-cell {
        display: table-cell !important; }
    .m--hidden-desktop-xl {
        display: none !important; } }

.m-card-user.m-card-user--skin .m-card-user__details .m-card-user__name {
    color: #d9dae3; }

.m-card-user.m-card-user--skin .m-card-user__details .m-card-user__email {
    color: #bbbee6; }

.m-card-user.m-card-user--skin .m-card-user__details .m-card-user__email:hover {
    color: #b9bddd; }

.m-card-user.m-card-user--skin .m-card-user__details .m-card-user__email:hover:after {
    border-bottom: 1px solid #bbbee6;
    opacity: 0.3 ;
    filter: alpha(opacity=30) ; }


@media (max-width: 1440px) {   
    .table thead tr.active th {
        padding: 8px 8px;        
    }
    .table thead tr.active th {
        padding: 10px 8px;    
    }    
}
